<div class="col col-12 p2">
  <h1 id="title">Explore Marvel</h1>
  <form {{action "search" on="submit"}}>
    <label>Search:</label>
    {{input value=queryField classNames="field-light"}}
    <input type="submit" value="Search" class="button" />
  </form>
  {{#each character in model}}
      {{#link-to 'characters.show' character (query-params query="null") classNames="button block button-transparent"}}
      {{#if character.thumbnail}}
        <img src="{{character.thumbnail}}" class="thumbnail"><br>
      {{/if}}
      {{character.name}}
      {{/link-to}}
  {{/each}}
  Total: {{meta.total}}
</div>
