<div class="clearfix mxn2">
  <div class="col col-6">
    <div class="ml2 px2">
      <h1 class="heading">{{model.name}}</h1>
      <p class="description">{{{model.description}}}</p>
    </div>
  </div>
  <div class="col col-6">
    <div class="px2 mr2 image">
      {{#if model.thumbnail}}
        <img src="{{model.thumbnail}}">
      {{else}}
        <img src="/img/image_not_available.gif">
      {{/if}}
    </div>
  </div>
  <div class="col col-12">
    <div class="px3 events">
      <h2>Key Events</h2>
      <ul>
      {{#each event in model.events}}
        <li class="event">{{event.name}}</li>
      {{/each}}
      </ul>
    </div>
  </div>
</div>
